/* BottomBar.css */
.bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@media (min-width: 600px) {
  .bottombar {
    display: flex;
    justify-content: space-around;
  }
}

.MuiBottomNavigationAction-root {
  min-width: 0;
  max-width: 120px;
  flex-grow: 1;
}

.MuiBottomNavigationAction-label {
  font-size: 12px;
}

.Mui-selected .MuiBottomNavigationAction-label {
  font-size: 14px;
  font-weight: bold;
}
